.car-info__container {
	max-width: 400px;
}
.car-info__body {
	display: flex;
	flex-direction: column;
	margin-bottom: 50px;
}
.car-info__image {
	max-width: 100%;
	height: 300px;
	margin-bottom: 10px;
}
.car-info__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 8px;
}
.car-info__body span {
	font-weight: 600;
	font-size: 20px;
}

