<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div class="wrapper">
    <header class="header">
      <div class="header__container">
        <div class="header__task">
          <p>Задача. За прикладом, який ми розглянули на уроці розробити додаток з такими операціями стосовно контексту, який ви виберете:</p>
          <ul>
            <li>відображення списку елементів</li>
            <li>відображення детальної інформації про елемент маючи id</li>
            <li>додавання нового елемента</li>
            <li>потім додамо редагування</li>
            <li>потім додамо видалення</li>
          </ul>
        </div>
        <div class="header__menu menu">
          <nav class="menu__body">
            <ul class="menu__list">
              <li class="menu__item">
                <a href="/products" class="menu__link">Каталог ігор</a>
              </li>
              <li class="menu__item">
                <a href="/products/add" class="menu__link">Додати нову гру</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <main class="page">
      <div class="page__container">
        <section class="page__hero hero">
          <div class="hero__body">
            <h1 class="hero__title">Про наш сервіс настільних ігор</h1>
            <div class="hero__text">Ми прагнемо зібрати унікальну колекцію настільних ігор, щоб об'єднувати людей, які цінують дружню атмосферу та спільне дозвілля. Наш сервіс дозволяє зберігати та переглядати каталог ігор для будь-якого настрою та компанії.</div>
            <h3 class="hero__sub-title">Чому настільні ігри?</h3>
            <div class="hero__text">Настільні ігри — це чудова можливість відірватися від екранів і провести час з друзями чи родиною. Вони допомагають розвивати навички спілкування, стратегії та просто весело провести час.</div>
            <h3 class="hero__sub-title">Як це працює?</h3>
            <div class="hero__text">На нашій платформі ви можете легко додати нову гру в каталог, переглянути список доступних ігор, знайти цікаві варіанти для вашої групи друзів або родини.</div>
          </div>
          <div class="hero__image">
            <img src="images/main_img.webp" alt="Image">
          </div>
        </section>
    </main>
  </div>
  <footer>
    <div class="footer__container">
      <p>&copy; 2024 Сервіс Настільних Ігор</p>
    </div>

  </footer>
  </div>
</body>

</html>